/* The layout primitives for you to use */

.center {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.width-sm {
    max-width: 20rem;
}

.width-lg {
    max-width: 60rem;
}

.stack-sm > * + * {
    margin-top: 0.5rem;
}

.stack-md > * + * {
    margin-top: 1rem;
}

.stack-lg > * + * {
    margin-top: 2rem;
}

.stack-xl > * + * {
    margin-top: 4rem;
}

.row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}

.column-lg {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}


/*  */


* {
    box-sizing: border-box;
    margin: 0;
}
  
body {
    font-family: system-ui, sans-serif;
    background-color: #219EBC;
    color: #022d42
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    min-width: 24ch;
    padding: 0.25rem;
    font: inherit;
    font-size: 0.875rem;
    text-align: center;
    border: 1px solid hsl(200, 10%, 80%);
    background-color: hsl(200, 10%, 98%);
}
  
.button {
    display: inline-block;
    border-radius: 4px;
    border: 0;
    padding: 0.25rem 1.25rem;
    font: inherit;
    background-color: #8ECAE6;
    color: #023047;
}
  
main {
    padding: 4rem 1.5rem;
}

.results {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.film-overlay {
    display: none;
    background-color: #ffb703;
    justify-content: space-evenly;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.left-film {
    max-width: 50%;
}








footer {
    position: fixed;
    height: 1.2rem;
    font-size: 0.7rem;
    background-color: #90cea1;
    bottom: 0px;
    display: flex;
    margin-bottom: 0px;
}


img {
    max-height: 100%;
}
